body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #1a1a1a;
    padding: 1rem;
    color: lime;
}

section {
    text-align: center;
    margin: 1.5rem;
}

#waveform {
    height: 150px;
    background: #000;
    border: 1px solid lime;
}

canvas {
    margin-top: 1rem;
    background-color: #1a1a1a;
}

.btn {
    background-color: lime;
    color: #121212;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
